#map{
  height: 70%;
}
/* 
sizing the wedth and height of the map  */
h1{
  font-family: 'Rubik', sans-serif;
  color: white;
  font-weight: 500;
  margin: 0;
}
.bg{
  width: 100%;
  height: 30vh;
  background-image: url(./images/pattern-bg-mobile.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}
.leaflet-container{
  width: 100vw;
  height: 70vh
}
.leaflet-control { z-index: 0 !important}
.leaflet-pane { z-index: 0 !important}
.leaflet-top, .leaflet-bottom {z-index: 0 !important}

@media (min-width: 600px){
.bg{
  background-image: url(./images/pattern-bg-desktop.png);
}
}



